img {
  width: 300px;
  height: 470px;
}

mat-card {
  margin: 15px;
  align-items: center;
}

.favMovie-list-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 400px;
  padding: 26px;
  text-align: center;
}

/* .profile-details {
  width: 900px;
} */

.update-profile {
  width: 900px;
}
.favMovie-list-title {
  text-align: left;
  margin-left: 40px;
  margin-top: 40px;
  font-weight: 500;
  width: 300px;
}

@media screen and (min-width: 600px) {
  .favMovie-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 840px) {
  .favMovie-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1156px) {
  .favMovie-list-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
